body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.links {
    display: flex;
    gap: 16px;
}

.header,
.footer,
.hero-panel {
    background-color: #1F2937;
    flex: 0 0 auto;
}

.image-container,
.hero-text-description,
.footer,
.links li {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.signup-button {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 8px 24px;
    font-weight: bold;
    font-size: 16px;
}

.image-container {
    background-color: #666E7A;
}

.call-to-action-panel {
    padding: 100px 200px
}

.call-to-action {
    background-color: #3882F6;
    padding: 50px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.call-to-action .signup-button {
    border: 2px solid white;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 32px 0;
}

.quote-panel {
    background-color: #E5E7EB;
    padding: 100px 300px;
    display: flex;
    flex-flow: column nowrap;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-source {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.panel-container {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
}

.panel {
    flex: 1;
}

.hero-panel {
    padding: 100px 200px;
    display: flex;
    gap: 24px;
}

.hero-text-block,
.image-container {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.image-placeholder {
    margin: auto;
}

.info-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.info-container {
    padding-bottom: 100px;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-image {
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: 4px solid #3882F6;
}

.info-panel-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
}

.info {
    width: 150px;
    text-align: center;
}

.call-to-action-header {
    font-weight: 1000;
    font-size: 20px;
}


.footer {
    padding: 24px 0;
    display: flex;
    justify-content: center;
}

.footer-text {
    text-align: center;
}
